.outer {
    position: absolute;
    top: 0px;
    min-width: 90vw;
    margin: 15px;
    margin-right: 35px;
  
    width: auto;
    overflow-x: hidden;
    height: 100%;
  }
  .completeBlock {
    display: none;
  }
  .show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse; /* Ensures the borders don't have space between them */
  }
  th,
  td {
    border: 1px solid black; /* Adds a border to each cell */
    padding: 8px;
    text-align: left; /* Aligns text to the left */
  }
  th {
    background-color: #f2f2f2; /* Light grey background for table headers */
  }
  
  .sign {
    display: flex;
    justify-content: center;
  }
  
  .submission {
    display: flex;
    margin: 2px;
    margin-right: 5px;
  }
  .submission div {
    margin-right: 7px;
  }
  .grinDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
  }
  